.zoom {
    flex-direction:row ;
  flex-wrap:wrap ;
    padding: 10px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
    cursor: pointer;
  }